.btn-navbar {
  background-image: url(../IMG/Otros/sup-madera1.jpg);
  height: 100%;
  width: 20%;
  text-align: center;
  border-style: none;
}
.btn-navbar img {
  height: 1rem;
  width: auto;
  margin: none;
  padding: none;
}

.btn-sidebar {
  background-image: url(../IMG/Otros/sup-madera1.jpg);
  right: 0;
  height: 100%;
  width: 20%;
  border-style: none;
}
.btn-sidebar img {
  height: 1rem;
  width: auto;
  margin: none;
  padding: none;
}

.div-navbar {
  background-image: url(../IMG/Otros/sup-madera1.jpg);
  display: flex;
  position: fixed;
  right: 0;
  align-items: center;
  height: 100%;
  width: 15rem;
  transform: translate(12rem);
  transition: all 1.8s;
}
.div-navbar img {
  transform: rotate(90deg);
  transition: all 1s;
}
.div-navbar:focus-within {
  transform: translate(0rem);
  transition: all 1s;
}
.div-navbar:focus-within img {
  transform: rotate(-90deg);
  transition: all 1s;
}
.div-navbar ul {
  list-style-type: none;
  align-items: center;
}
.div-navbar ul li {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.div-sidebar {
  background-image: url(../IMG/Otros/sup-madera1.jpg);
  display: flex;
  position: fixed;
  justify-content: space-between;
  left: 0;
  align-items: center;
  height: 100%;
  width: 15rem;
  transform: translate(-12rem);
  transition: all 1.8s;
}
.div-sidebar img {
  transform: rotate(90deg);
  transition: all 1s;
}
.div-sidebar:focus-within {
  transform: translate(0rem);
  transition: all 1s;
}
.div-sidebar:focus-within img {
  transform: rotate(-90deg);
  transition: all 1s;
}
.div-sidebar ul {
  list-style-type: none;
  align-items: center;
}
.div-sidebar ul li {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sidebar-australix {
  display: block;
}

.sidebar-que {
  display: none;
}

.sidebar-por-que {
  display: none;
}

.sidebar-como {
  display: none;
}

h1,
h2 {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  z-index: 10;
  position: sticky;
  text-align: center;
  background-image: url(/IMG/Otros/sup-madera1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 1%;
  width: 100%;
}

.main-or-navbar {
  display: flex;
  text-align: center;
  width: 100%;
}

.div-contenido-sidebar {
  display: block;
  width: 100%;
  height: 100%;
}

.contenido-sidebar {
  position: absolute;
  display: block;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.contenido-sidebar h3 {
  margin: 1rem;
  text-align: center;
  justify-content: center;
}
.contenido-sidebar p {
  height: 50%;
  margin: 1rem;
  margin-right: 5rem;
  margin-left: 5rem;
  text-align: center;
  justify-content: center;
}

.div-waves {
  height: 100%;
  width: 100%;
  position: fixed;
  text-align: center;
  min-height: 640px;
}
.div-waves .waves {
  width: 100%;
  height: 100%;
  min-height: 640px;
  filter: grayscale(100%);
  opacity: 20%;
}

.div-logo {
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 6rem;
}
.div-logo .logo {
  height: 35vh;
}

footer {
  display: block;
  position: absolute;
  height: 5vh;
  width: 100%;
  bottom: 0;
  background-image: url(/IMG/Otros/sup-madera1.jpg);
  background-repeat: repeat-x;
  background-position: 12%;
  text-align: center;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
