.btn-navbar {
    background-image: url(../IMG/Otros/sup-madera1.jpg);
    background-color: none;
    height: 100%;
    width: 20%;
    text-align: center;
    border-style: none;

    img {
        height: 1rem;
        width: auto;
        margin: none;
        padding: none;
    }
}