.div-sidebar {
    background-image: url(../IMG/Otros/sup-madera1.jpg);
    display: flex;
    position: fixed;
    justify-content: space-between;
    left: 0;
    align-items: center;
    height: 100%;
    width: 15rem;
    transform: translate(-12rem);
    transition: all 1.8s;

    img {
        transform: rotate(90deg);
        transition: all 1s;
    }

    &:focus-within {
        transform: translate(0rem);
        transition: all 1s;

        img {
            transform: rotate(-90deg);
            transition: all 1s;
        }
    }

    ul {
        @include list;

        li {
            @include item-list;
        }
    }
}

//index

.sidebar-australix {
    display: none;
}

.sidebar-que {
    display: none;
}

.sidebar-por-que {
    display: none;
}

.sidebar-como {
    display: none;
}


//cursos


.sidebar-teatro {
    display: block;
}

.sidebar-danza {
    display: none;
}

.sidebar-tela {
    display: none;
}

.sidebar-circo {
    display: none;
}