@import "_buttons";

header {
    text-align: center;
}

.main-or-navbar {
    display: flex;
}

.div-navbar {
    display: flex;
    position: fixed;
    right: 0;
    align-items: center;
    height: 100%;
    width: 50rem;
    margin-right: 0%;
    padding-right: 0%;
}

.navbar {
    display: flex;
    align-items: center;
    border-style: none;
    margin-right: 7rem;

    ul {
        list-style-type: none;

        li {
            margin-top: 5rem;
            margin-bottom: 5rem;
        }
    }
}