@import "_buttons";

header {
    text-align: center;
}


.main-or-navbar {
    display: flex;
}

.div-gif {
    position: absolute;
    height: 50rem;

    .gif-olas {
        width: 50vh;
        object-fit: contain;
        filter: grayscale(100%);
        opacity: 25%;
    }
}


.div-navbar {
    background-image: url(../IMG/Otros/sup-madera1.jpg);
    display: flex;
    position: fixed;
    right: 0;
    align-items: center;
    height: 100%;
    width: 15rem;
    transform: translate(12rem);
    transition: all 1.8s;

    img {
        transform: rotate(90deg);
        transition: all 1s;
    }

    &:focus-within {
        transform: translate(0rem);
        transition: all 1s;

        img {
            transform: rotate(-90deg);
            transition: all 1s;
        }
    }
}