@import "_buttons";

h1,
h2 {
    margin-bottom: 0;
}


header {
    position: sticky;
    text-align: center;
    background-image: url(/IMG/Otros/waves-2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 10vh;
}


.main-or-navbar {
    display: flex;
}

.frase-galeano {
    top: 8rem;
    position: fixed;
    width: 85%;
    text-align: center;

    h3 {
        justify-content: center;
        font-size: medium;
        margin: 1rem;

    }
}

.div-mirror {
    position: fixed;
    top: 13rem;
    text-align: center;

    .mirror {
        width: 40vh;

        &:hover {
            transform: rotateY(180deg);
        }
    }
}


.div-navbar {
    background-image: url(../IMG/Otros/sup-madera1.jpg);
    display: flex;
    position: fixed;
    right: 0;
    align-items: center;
    height: 100%;
    width: 15rem;
    transform: translate(12rem);
    transition: all 1.8s;

    img {
        transform: rotate(90deg);
        transition: all 1s;
    }

    &:focus-within {
        transform: translate(0rem);
        transition: all 1s;

        img {
            transform: rotate(-90deg);
            transition: all 1s;
        }
    }
}